.start-screen
	&__buttons
		margin: calc((#{$GOFFSET}*100vw)/#{$GWIDTH}) auto 0
		width: 65%
	&__btn
		&:first-child
			margin-bottom: calc((#{$GOFFSET/2}*100vw)/#{$GWIDTH})
			.start-screen.is-info &
				margin-bottom: 0
		&:last-child
			max-height: calc((#{$GOFFSET*2}*100vw)/#{$GWIDTH})
			.start-screen.is-info &
				max-height: 0
				padding: 0
	&__information
		max-height: 0
		opacity: 0
		overflow: hidden
		.start-screen.is-info &
			max-height: calc((#{$GOFFSET*1.5}*100vw)/#{$GWIDTH})
			opacity: 1
	@media screen and ( max-width: #{$GTABLET}px )
		&__wrap
			margin: auto 0
		&__buttons
			+size-calc('margin', 'rxx', $GOFFSET*0.75, $GHEIGHT, auto)
			width: 80%
		&__btn
			&:first-child
				+size-calc('margin-bottom', 'r', $GOFFSET*0.375)
			&:last-child
				+size-calc('max-height', 'r', $GOFFSET*1.5)
		&__information
			+size-calc('margin-top', 'r', $GOFFSET*0.375)
			.start-screen.is-info &
				+size-calc('max-height', 'r', $GOFFSET*1.5)
	@media screen and ( max-width: #{$GMOBILE}px )
		&__buttons
			+size-calc('margin', 'rxx', $GOFFSET*0.375, $GHEIGHT, auto)
			width: 100%
		&__btn:first-child
			+size-calc('margin-bottom', 'r', $GOFFSET/4)
		&__information
			.start-screen.is-info &
				+size-calc('max-height', 'r', $GOFFSET)